.aboutStyle{
    background-color: #1E2749;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* height: 420px; */
    background-position: center center;
    color: whitesmoke;
}