.headerStyle{
    background-image: url('../../Images/anete-lusina-zwsHjakE_iI-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
    color: aliceblue;
}